*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties */

:root {
    --ff-primary: 'Cocon';
    --ff-secondary: 'ProximaNova';
    --fw-ref: 300;
    --fw-bold: 900;
    --clr-light: #AFCBFF;
    --clr-dark: #00113D;
    --clr-tile2: #00E893;
    --clr-accent: #87FFC1;
    --clr-bg: #4057CA;
    --fs-h1: 3rem;
    --fs-h2: 2,25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@font-face {
    font-family: 'Cocon';
    src: url('./fonts/cocon.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova.otf');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

    /* General styles */

    html {
        scroll-behavior: smooth;
    }

    body {
        color: var(--clr-light);
        margin: 0;
        font-family: var(--ff-primary);
        font-size: var(--fs-body);
        line-height: 1.6;
    }

    section {
        padding: 5em 2em;
    }

    img {
        display: block;
        max-width: 100%;
    }

    strong {
        font-weight: var(--fw-bold)
    }

    :focus {
        outline: 3px solid var(--clr-accent);
        outline-offset: 3px;
    }

    .btn {
        display: inline-block;
        padding: 0.5em 2.5em;
        background: var(--clr-accent);
        color: var(--clr-dark);
        text-decoration: none;
        cursor: pointer;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: var(--fw-bold);
        transition: transform 200ms ease-in-out;
    }

        .btn:hover {
            transform: scale(1.1);
        }

    /* Typography */

    h1, h2, h3 {
        line-height: 1.1;
        margin: 0;
    }

    h1 {
        font-size: var(--fs-h1)
    }

    h2 {
        font-size: var(--fs-h2)
    }

    h3 {
        font-size: var(--fs-h3)
    }

    .section__title {
        margin-bottom: 0.25em
    }

    .section__subtitle {
        margin: 0;
        font-size: var(--fs-h3);
    }

    .section__title--intro {
        font-weight: var(--fw-regular);
        opacity: 0;
        transform: translateX(-100%);
        transition-duration: 500ms;
    }

        .section__title--intro strong {
            display: block;
        }

    .section__subtitle--intro,
    .section__subtitle--about {
        background: var(--clr-accent);
        font-family: var(--ff-secondary);
        margin-bottom: 1em;
        padding: 0.25em 1em;
        opacity: 0;
        transform: translateX(-150%);
        transition-duration: 500ms;
        transition-delay: 400ms;
    }

    .App {
        font-family: var(--ff-primary);
        background-color: var(--clr-bg);
        height: 200vh;
    }

    .nav {
        background-color: var(--clr-light);
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: var(--clr-dark);
    }

    .menu-button {
        display: flex;
        align-items: center;
        font-family: var(--ff-primary);
        font-size: min(40px, 4vw);
        background-color: var(--clr-light);
        color: var(--clr-dark);
        border: none;
        border-radius: 10px;
        width: 15vw;
        height: 10vh;
        justify-content: center;
        cursor: pointer;
    }

    .profile-button {
        width: 5vw;
    }


    .link {
        vertical-align: middle;
        display: flex;
        text-decoration: none;
    }

    .logo {
        width: 15vw;
        height: auto;
    }

    .profile {
        justify-content: center;
    }

    .menu-button:hover {
        background-color: var(--clr-tile2);
    }
