.profile-container {
    display: flex;
    justify-content: center;
}

.profile-img {
    min-width: 100px;
    height: 100px;
    border-radius: 50%; /* Creates a circular shape */
    overflow: hidden;
    object-fit: cover; /* Ensures the image fills the circle without stretching */
}

.bio-1, .bio-2, .bio-3, .bio-4 {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(20%);
    transition-duration: 2s;
}

.bio-1 {
    transition-delay: 0.2s;
}

.bio-2 {
    transition-delay: 0.4s;
}

.bio-3 {
    transition-delay: 0.6s;
}

.bio-4 {
    transition-delay: 0.8s;
}

.mission-heading {
    text-align: center;
    font-size: 5vw;
    height: 7vw;
    margin: 0 0 3vh 0;
    opacity: 0;
    transition: 1.5s;
}

.mission-text-1, .mission-text-2, .mission-text-3{
    font-family: var(--ff-secondary);
    width: 70vw;
    text-align:center;

    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}

.mission-text-1 {
    transition-delay: 0.3s;
}
.mission-text-2 {
    transition-delay: 0.6s;
}
.mission-text-3 {
    transition-delay: 0.9s;
}



.big-logo{
    width:40vw;
    transform: translateY(20%);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 1.5s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), transparent;
    background-image: url("../images/cleanOcea.jpg");
    margin-bottom: 0;
}

.wel-h, .wel-p {
    opacity: 0;
    transition-duration: 2s;
}

.wel-h {
    text-align: center;
}

.mission-wrapper {
    background-color: var(--clr-bg);
    margin-top: 0;
    padding-top: 2em;
    padding-bottom: 2em;
}

.ornament {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.70;
}

.founder-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show {
    opacity: 1;
    transform: translateX(0%) translateY(0%);
}

@media (max-width: 800px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bio-1, .bio-2, .bio-3, .bio-4 {
        flex-direction: row;
    }
}